html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    font-family: 'Caveat', cursive;
    background: linear-gradient(315deg, #77ACF1, #FFF5FD);
}

.tm-header {
    padding: 50px 15px;
}
  
.tm-title {
    font-size: 3rem;
    color: #626364;
}

.box{
    border-radius: 20px;
    padding: 6%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
}
.box .button{
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin:25px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}  
.box .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.8s ease-out;
}
.box .button a{
    color: #4267B2;
}
.box .button:hover{
    width: 200px;
}


.box .button:hover .icon {
    background: #4267B2;
}
.box .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.8s ease-out;
}
.box .button:hover .icon i{
    color: #fff;
}
.box .button span{
    font-size: 20px;
    font-weight: 500px;
    line-height: 60px;
    margin: 10px;
    transition: all 0.3s ease-out;
}
.box .button span{
    color: #4267B2;
}
@media screen and (max-width: 480px) {
.box{
    flex-direction: column;
  }
}